body{ background: white;
height: 700px;}

.container-fluid{
background:#B22222;
color:white;
font-family:verdana;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
width:100%;
height:80px;
}

#police{
color:white;}

#myNavbar{
color:white;
font-family:verdana;
}


#footer{
margin-top:40px;
margin-left:10px;
font-size:14px;
}

/* Style du corps principal de la page */
.body{
position:absolute;
left:0;
top:100px;
width:100%;
height:700px;
background:white;
}

 /* Style de la barre du bas */
#barre2{
top:700px;
font-family:verdana;
color:white;
height:100px;
width:100%;
background:#B22222;
z-index:7;
}

#emplois{
top:500px;
font-family:verdana;
color:white;
height:100px;
width:100%;
z-index:7;
}
